{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Editar "{{ cliente['empresa'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="empresa">Nome da Empresa</label>
        <input type="text" name="empresa" placeholder="Nome da Empresa"
               class="form-control"
               value="{{ request.form['empresa'] or cliente['empresa'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="contato">Nome do Contato</label>
        <input type="text" name="contato" placeholder="Nome do Contato"
               class="form-control"
               value="{{ request.form['contato'] or cliente['contato'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="text" name="email" placeholder="xxx@yyy"
               class="form-control"
               value="{{ request.form['email'] or cliente['email'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="telefone">Telefone</label>
        <input type="tel" name="telefone" 
               placeholder="(00)00000-0000" class="form-control"
               value="{{ request.form['telefone']  or cliente['telefone'] }}"></input>
    </div>

    <div class="form-group">
        <label for="cidade">Cidade</label>
        <input type="text" name="cidade" 
               placeholder="Cidade" class="form-control"
               value="{{ request.form['cidade']  or cliente['cidade'] }}"></input>
    </div>

    <div class="form-group">
        <label for="segmento">Segmento</label>
        <input type="text" name="segmento" placeholder="segmento"
               class="form-control"
               value="{{ request.form['segmento'] or cliente['segmento'] }}">
        </input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
<hr>
<form action="{{ url_for('delete_cliente', cliente_id=cliente['id']) }}" method="POST">
    <input type="submit" value="Apagar"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Tem certeza que deseja excluir esse cliente?')">
</form>

{% endblock %}