{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Projetos {% endblock %}</h1>
    <a href="{{url_for('novo_projeto')}}" class="btn btn-primary">Novo Projeto</a>
    {% for projeto in projetos %}
        <a href="{{ url_for('projeto', projeto_id=projeto['id']) }}">
            <h2>{{ projeto['cliente'] }}</h2>
        </a>
        <span class="badge badge-primary">{{ projeto['servicos'] }}</span>
        <span class="badge badge-primary">{{ projeto['valor'] }}</span>
        <span class="badge badge-primary">{{ projeto['inicio'] }}</span>
        <span class="badge badge-primary">{{ projeto['fim'] }}</span>
        <hr>
    {% endfor %}
{% endblock %}