{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Adicionar um Novo Serviço {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="descricao">Descrição do Serviço</label>
        <input type="text" name="descricao"
               placeholder="Descrição do Serviço" class="form-control"
               value="{{ request.form['descricao'] }}"></input>
    </div>

    <div class="form-group">
        <label for="valor">Valor</label>
        <input type="text" name="valor" 
               placeholder="Valor" class="form-control"
               value="{{ request.form['valor'] }}"></input>
    </div>

    <div class="form-group">
        <label for="segmento">Segmento</label>
        <input type="text" name="segmento" 
               placeholder="Segmento" class="form-control"
               value="{{ request.form['segmento'] }}"></input>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Salvar</button>
    </div>
</form>
{% endblock %}